* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.navbar {
    background-color: #f4f4f4;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 6);
}
.logo {
    padding: 0 30px;
    max-width: 200px;
    max-height: 100px;
    }

.items {
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.items li {
    margin: 0 15px;
}

.items li a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.items li a:hover {
    background-color: rgb(41, 41, 41);
    border-radius: 25px;
    transition: .1s;
    color: #f4f4f4;
    cursor: pointer;
}

.primer-section {
    display: inline-block;
    vertical-align: top;
    float: left;
}

.aside-img {
    display: inline-block;
    vertical-align: top;
    float: right;
    max-width: 500px;
    max-height: 500px;

}

h2 {
    font-size: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

p {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
button {
    margin-top: 40px;
    font-size: 18px;
    background-color: rgb(1, 1, 48);
    border: none;
    color: white;
    padding: 16px 24px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    text-align:center;
}